
*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.logo-header{
    display: flex;
    background-color: #ffffff;
    border: 0px solid green;
    align-content: center;
    justify-content: center;
}
.logo-Container{
    display: flex;
    flex-direction: row ;
    border: 0px solid green;
    width: 80%;
    align-items: center;
}
.img-logo{
    max-height: 80px;
    max-width: 80px;
    padding: 10px;
}
.logo-employee{
    font-family: "Montserrat", sans-serif;
    color: #82a70c;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}
.logo-payroll{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 20px;
}
.div-form{
    min-height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f7f7f7;
    border: 0px solid forestgreen;
}
.form-content{
    display: flex;
    flex-direction: column;
    background: #ffffff 0px 0px no-repeat padding-box;
    box-shadow:0px 3px 6px #00000029 ;
    padding: 45px 60px;
    width: 70%;
    border: 1px solid #f5f5f5;
    border-radius: 10px;
    opacity: 1;
}
.form-header{
    font-size: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}
.form-field{
    display: flex;
    padding: 10px 0px;
    align-items: center;
}
.text-label{
    padding: 12px 12px 12px 0;
    color: #42515f;
    font-family: "Roboto";
    font-size: 16px;
    align-content: center;
    min-width: 150px;
    border: 0px solid green;
}
.text-input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
}
.profile-radio-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    padding-right: 50px;
}
.profile-radio-content > label{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
}
.profile{
    border-radius: 100%;
    max-width: 40px;
    margin-left: 10px;
}
.select-box{
    font-size: 16px;
    color: #42515f;
    font-family: "Roboto";
    margin-right: 50px;
}
.salary-range{
    font-size: 16px;
    color: #42515f;
    font-family: "Roboto";
    margin-right: 50px;
    margin-left:20px ;
}
.salary{
    width: 150px;
}
textarea{
    width: 500px;
    height: 70px;
}
.select-date{
    padding: 10px 20px;
    font-size: 16px;
    color: #42515f;
    font-family: "Roboto";
}
.select-month{
    margin-left: 20px;
    padding: 10px 30px;
    font-size: 16px;
    color: #42515f;
    font-family: "Roboto";
}
.select-year{
    margin-left: 20px;
    padding: 10px 25px;
    font-size: 16px;
    color: #42515f;
    font-family: "Roboto";
}
footer{
    display: flex;
    padding: 30px 0px 0px 0px;
    justify-content:space-between ;
}
.button{
    font-size: 20px;
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: #42515f;
    font-family: "Roboto";
    border: 1px solid #707070;
    cursor: pointer;
    color: #42515f;
    border-radius: 5px;
    text-align: center;
}
.cancel{
    margin-right: 250px;
    text-decoration: none;
}
.submit{
    display: flex;
    align-content: flex-end;
}
.reset{
    margin-left: 30px;
}
